body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background-color: lightgreen;
text-align:center;
     }
.navbar {
  float:right;
  width: 92%;
  background-color: #000000;
  overflow: auto;
}
.navbar a {
  float: right;
  padding: 30px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #FF4500;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: scroll;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 8px;
  text-decoration: line;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.overlay a:hover {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}



.list{
 font-size:25px;
 overflow:auto;
 padding: 23px;
 background-color: #1E90FF;
 width: 4%;
 cursor:pointer; 
 float:left;

}
.footer{
  background-color: #000000;
  position:relative;
  overflow: auto;
  bottom: 0;
  top:3200px;
  margin: 0;
  padding: 0;
  width:100%;
}
.footer ul{
  list-style: none;
  padding: 0px;
}
.footer ul li {
  display: inline;
  text-decoration: none;  
}
.footer ul li a{
  float: left;
  font-size: 17px;
  padding: 30px;
  color: white;
  text-decoration: none;
}
.footer ul li a:hover{
  color: #FF4500;
}
