body{
    margin: 0px;
    padding: 0px;
    height: 750px;
    background-image: url("design2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Amiri', serif;
    }

h1{
    font-size: 21px;
    color: rgb(3, 0, 0);
    text-align: right;
    position: absolute;
    left: 430px;
    top: 670px;
    }

 h2{
    font-size: 24px;
    color: rgb(3, 0, 0);
    text-align: right;
    position: absolute;
    left: 140px;
    top: 675px;
    }

.p1{
    position: absolute;
    text-align: right;
    font-size: 21px;
    max-width: 600;
    left: 145px;
    top: 180px;
  }

.p2{
    position: absolute;
    font-size: 21px;
    right: 156px;
    top: 85px;
   }

img{
        position: absolute;
        right: 90px;
        top: 170px;
        width: 10.7cm;
        height: 14.3cm;
    }
