body
{
margin: 0px;
padding: 0px;
height: 750px;
background-image: url("design1.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: 'Amiri', 'serif';
}

h1{
font-size: 40px;
color: #fff;
text-shadow: 2px 5px 8px #46ea4c;
text-align: right;
position: absolute;
right: 250px;
top: 70px;
}


h2{
font-size: 20px;
color: #fff;
text-align: right;
position: absolute;
right: 100px;
top: 219px;
}

.p1{
font-size: 16px;
color: black;
line-height: 39px;
text-align: right;
position: absolute;
max-width: 480;
right: 100px;
top: 270px;
}

.p2{
position: absolute;
max-width: 480;
left: 410px;
top: 630px;
}

.p3{
position: absolute;
max-width: 480;
left: 140px;
top: 630px;
}

.link1{
position: absolute;
right: 332px;
top: 215px;
}

.link2{
position: absolute;
left: 280px;
top: 750px;
}

.img1{
position: absolute;
right: 122px;
top: 75px;
width: 3cm;
height: 3cm;
}

.img2{
position: absolute;
left: 380px;
top: 310px;
width: 7cm;
height: 9cm;
}

.img3{
position: absolute;
left: 100px;
top: 330px;
width: 7cm;
height: 8cm;
}





body {
    margin: 0;
    padding: 0;
    }
    .navbar {
      float:right;
      width: 92%;
      height: 70px;
      background-color: #ffffff;
    }
    .navbar a {
      float: right;
      padding: 30px;
      color: rgb(8, 0, 0);
      text-decoration: line;
      font-size: 17px;
    }
    
    .navbar a:hover {
      background-color: #FF4500;
      height: 10px;
    }
    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
      }
    }
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0, 0.9);
      overflow-x: scroll;
      transition: 0.5s;
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: line;
      font-size: 20px;
      color: #818181;
      display: block;
      transition: 0.5s;
    }
    
    .overlay a:hover {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 40px;
    }
    
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }
    
    
    
    .list{
     font-size:25px;
     padding: 23px;
     background-color: #1E90FF;
     width: 4%;
     height: 25px;
     cursor:pointer; 
     float:left;    
    }
   
