*{
margin:0;
padding:0;
}
h1{
position:absolute;
left:10px;
top:5px;
}
p{
position:absolute;
left:10px;
font-size:30px;
}
body{
background-image:url("3.jpg");
background-position:center;
background-size:cover;
margin-top:40px;
}
.form{
position:absolute;
bottom:420px;
left:250px;
width:900px;
background-color:rgb(0,0,0,0.6);
margin:auto;
color:#FFFFFF;
padding:5px 0px 5px 0px;
text-align:center;
border-radius:15px 15px 0px 0px;
}
.main{
position:absolute;
bottom:120px;
left:250px;
background-color:rgb(0,0,0,0.5);
width:900px;
height:300px;
margin:auto;
border-radius:0px 0px 15px 15px;
}
.FirstName{
position:relative;
left:223px;
top:5px;
line-height:40px;
border-radius:6px;
padding:0 18px;
}
.Name{
position:relative;
color:white;
text-transform:capitalize;
font-size:18px;
top:2px;
right:200px;
}
.A{
position:relative;
color:white;
text-transform:capitalize;
font-size:18px;
top:2px;
right:-200px;
}
.Age
{
position:relative;
left:320px;
top:5px;
line-height:40px;
border-radius:6px;
padding:0 18px;
}
.Favgenre
{
position:relative;
color:white;
text-transform:capitalize;
font-size:18px;
top:15px;
right:-10px;
}
.Fgenre{
position:relative;
left:77px;
top:15px;
line-height:40px;
border-radius:6px;
padding:0 18px;
}
.FavBook{
position:relative;
color:white;
text-transform:capitalize;
font-size:20px;
top:16px;
right:-105px;
}
.FBook
{
position:relative;
left:119px;
top:15px;
line-height:40px;
border-radius:6px;
padding:0 18px;
}
.LBook{
position:relative;
color:white;
text-transform:capitalize;
font-size:18px;
top:25px;
right:-10px;
}
.LastBook{
position:relative;
left:20px;
top:25px;
line-height:40px;
border-radius:6px;
padding:0 18px;
}
.Fmovie{
position:relative;
color:white;
font-size:20px;
top:38px;
right:-10px;
}
.Favmovie{
position:relative;
left:62px;
top:35px;
line-height:40px;
border-radius:6px;
padding:0 18px;
}
button{
background-color:#3BAF9F;
margin:50px 0px 0px 50px;
text-align:center;
border-radius:10px;
border:2px solid #366473;
padding:14px 110px;
outline:none;
color:white;
}