body{
margin:0;
padding:0;
font-family:montserrat ;
background: linear-gradient(120deg,#3b11e4,#951395);
background-image: url("Images\login.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
height:100vh;
overflow:hidden;
}
.navbar {
    float:right;
    width: 92%;
    background-color: #000000;
    overflow: auto;
  }
  .navbar a {
    float: right;
    padding: 30px;
    color: white;
    text-decoration: line;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #FF4500;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: scroll;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: line;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  .overlay a:hover {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  
  
  .list{
   font-size:25px;
   overflow:auto;
   padding: 23px;
   background-color: #1E90FF;
   width: 4%;
   cursor:pointer; 
   float:left;
  
  }
  footer {
      position:absolute;
      background-color: hsl(0, 0%, 3%);
      width: 100%; 
      color: rgb(1, 10, 17); 
      bottom: 0;
      margin: 0;
      padding: 0;
  }
.center{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
width: 400px;
background:white;
border-radius:10px ;
}
.center h1{
text-align:center;
padding:0 0 20px 0 ;
border-bottom: 1px solid silver ;
}
.center form {
padding: 0px 40px ;
box-sizing:border-box; /* ayh lazmetha */
}
form .txt_field{
position:relative;
border-bottom:2px solid #B0C4DE;
margin: 30px 0 ;
}
.txt_field input{
width:100%;
padding: 0 5px ;
height:40px ;
font-size: 15px ;
border:none;
outline:none;
background:none;
}
.submit{
width:100%;
height:50px;
border:2px solid ;
background:#2691d9;
border-radius:25px;
font-size:20px;
color:#e9f4fb;
font-weight:650;
cursor:pointer;
outline:none;
}
.submit:hover{
border-color:#2961d9;
transition: .5s;
}
.signlink{
margin: 30px 0;
text-align:center;
font-size:15px;
color:#666666;
}
.signlink a{
text-decoration:underline;
color:blue;
cursor:pointer;
}
.signup_link a:hover{
text-decoration:underline;
}
